<!DOCTYPE html>
<html>
    <head>

        {% include 'references.html' %}


        {% block script %}
        {% endblock %}

        {% block style %}
        {% endblock %}

        <title>Calculo Vectorial</title>
    </head>

    <body>

            {% include 'navbar.html' %}
            <div class="main-panel">
                <!-- Navbar -->
                <div class="container-fluid">
                  <nav class="navbar navbar-expand-lg navbar-default navbar-absolute fixed-top">
                    <div class="navbar-wrapper">
                      <a class="navbar-brand" href="#">{% block title %} Dashboard {% endblock %}</a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end">
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                  </div>
                  </nav>

            <div class="content pl-0">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>



</html>