<div class="wrapper">
  <div class="sidebar" data-color="blue" data-background-color="blue">

    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
      <a href="" class="simple-text logo-normal">
        CALCULO VECTORIAL
      </a>
    </div>
    
    <div class="sidebar-wrapper">
      <hr>


      <ul class="nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-globe"></i>
            <p>INICIO</p>
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/calculadora-de-vectores">
              <i class="fas fa-globe"></i>
              <p>CALCULADORA BASICA</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/conversor-de-coordenadas">
              <i class="fas fa-globe"></i>
              <p>CONVERSOR COORDENADAS</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/calculo-de-vectores">
              <i class="fas fa-globe"></i>
              <p>DERIVADAS E INTEGRALES</p>
              <p>DE VECTORES</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/integrales-y-derivadas">
              <i class="fas fa-globe"></i>
              <p>DERIVADAS E INTEGRALES</p>
            </a>
          </li>

      </ul>
    </div>
  </div>

<script>
  
</script>
<style>
  .counter.counter-lg {
    left: -24px !important;
    position: relative;
    z-index: 2 !important;
    background-color: black;
}
</style>