{% extends 'base.html' %}
{% block title %}DERIVADAS E INTEGRALES{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="content mx-4">
                    <form method='POST'>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    {{ form.input(class_="form-control" )}}
                                </div>
                            </div>
                            <div class="col-4">
                                {{ form.operation_type(class_="form-control") }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-3 my-auto">
                                <button type="submit" class="btn btn-info btn-block">Calcular</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if results != None %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary">
                    {% for key,value in results.items() %}
                    <p>
                        Derivada de {{ key }}: {{ value }}
                    </p>
                        {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <p>
                    Para derivadas usar el formato: d/d(variable), Ejemplo: 5x + 3y d/dx para la derivada de x.
                </p>
                <p>
                    Para integrales usar el formato: d(variable), Ejemplo:  5x + 3y dx para la derivada de x.
                </p>
            </div>
        </div>
    </div>

{% endblock %}