{% extends 'base.html' %}

{% block title %}CONVERSOR DE COORDENADAS {% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="content mx-4">
                <form method="POST">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                {{ form.input(class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                {{ form.coordinate_type(class_="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-3 my-auto">
                            <button type="submit" class="btn btn-info btn-block">Calcular</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if result != None %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-primary">
            {{ result }}
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <p>
                Ingrese las coordenadas y elija el tipo de conversion. Ejemplo: <br>
                (1,2,3) o 1,2,3
            </p>
        </div>
    </div>
</div>
{% endblock %}