{% extends 'base.html' %}

{% block title %}CALCULADORA DE VECTORES {% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="content m-2">
                <form method="POST">
                    <div class="row mb-4">
                        <div class="col-9">
                            <div class="form-group">
                                {{ form.input(class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-3 my-auto">
                            <button type="submit" class="btn btn-info btn-block">Calcular</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if result != None %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-primary">
            {{ result }}
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <ul>
                <li>Ejemplos</li>
                <li>||(1 1 1) + (1 1 1) - (1 1 1) + (2 2 2) + (2 2 2)||</li>
                <li>4(1.1 1.1 1.1) + (-2 -2 -2)</li>
                <li>(1 1 1) x (3 2 4)</li>
                <li>(1 1 1) * (2 2 2)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}