* {
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
}


.card .md-avatar {
width: 124px;
height: 124px;
border: 5px solid #FFFFFF;
position: relative;
margin-bottom: 15px;
margin-top: -70px;
overflow: hidden;
border-radius: 50%;
}
.card-user .md-avatar.border-gray {
border-color: #EEEEEE;
}

.profile-image-preview {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 1px solid #dee2e6;
}

.profile-image-preview img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
}

.logo-image-preview {
  min-height: 124px;
  border: 1px solid #dee2e6;
  max-width: 100%;
}
.logo-image-preview img {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}


/* Spinners */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  